.appearance {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  & .color-picker {
    & .color-options {
      margin-top: 1rem;
      display: flex;
      gap: 0.75rem;

      & .color-item {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;

        & input {
          all: unset;
          cursor: pointer;
          position: absolute;
          inset: 0;
          border-radius: 50%;
          border: 6px solid var(--shape-button);
          background-color: var(--color);
          z-index: 2;
        }

        & label {
          position: absolute;
          border-radius: 50%;
          inset: 0;
        }

        & input:checked {
          outline: 2px solid var(--brand-light);
        }
      }
    }
  }

  & .theme-picker {
    & .theme-options {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 0.5rem;

      & .theme-item {
        position: relative;
        background-color: var(--shape-button);
        padding: 0.25rem 0.25rem 0.5rem 0.25rem;
        border-radius: 0.5rem;

        & img {
          width: 100%;
        }

        & label {
          display: block;
          width: 100%;
          margin-top: 0.5rem;
          text-align: center;
        }

        & input {
          all: unset;
          position: absolute;
          inset: 0;
          cursor: pointer;
        }

        &:has(input:checked) {
          outline: 2px solid var(--brand-light);
        }
      }
    }
  }

  & .appearance-footer {
    display: flex;
    gap: 1rem;

    & .switch-wrapper {
      margin-top: 0.75rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
      width: 11rem;

      & span::after {
        content: "Escuro";
      }

      & .switch-button {
        position: relative;
        background-color: var(--input-base);
        width: 4rem;
        height: 2rem;
        outline: 1px solid var(--input-stroke);
        border-radius: 6.25rem;
        margin-block: .5rem;
        

        & input {
          all: unset;
          position: absolute;
          inset: 0;
          cursor: pointer;
          z-index: 2;
        }

        & label {
          position: absolute;
          background-color: var(--input-stroke);
          width: 1.5rem;
          height: 1.5rem;
          inset: .25rem;
          border-radius: 6.25rem;
          transition: background-color 0.3s ease;
          transition: transform 0.3s ease;
        }

        &:has(input:checked) {
          background-color: var(--brand-light);
          border-color: var(--brand-light);
          
          & label {
            transform: translateX(2rem);
            background-color: white;
          }
        }
      }

      &:has(input:checked) {
        & span::after {
        content: "Claro";
      }
      }
    }

    & .upload-wrapper {
      margin-top: 0.75rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: .25rem 0;
      gap: .75rem;
      
      & .upload-button {
        position: relative;
        background-color: var(--shape-button);
        color: var(--text-heading);
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .6563rem .75rem;  
        border-radius: .5rem;      
        
        & input {
          position: absolute;
          inset: 0;
          opacity: 0;
        }
        
        & img {
          max-width: 1rem;
          min-width: 1rem;
        }

        &:hover, &:focus {
          & img {
            content: url(../../assets/upload-secondary.svg);
          }
        }


      }

      & span.file-name {
        color: var(--input-placeholder);
      }
      


    }
  }
}
