.event-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1rem;

  div:nth-child(1) {
    grid-column: 1/3;
  }

  div:last-child {
    grid-column: 1/3;
  }

  & input,
  & textarea {
    margin-top: 0.75rem;
    appearance: none;
    width: 100%;
    background-color: var(--input-base);
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    color: var(--input-placeholder);
    font: var(--text-md);
    padding: 0.8125rem 1rem;
    max-height: 3rem;
  }

  & input:focus,
  & textarea:focus,
  & input[type="date"]:focus-within {
    outline: 0.125rem solid var(--brand-light);
  }

  input[type="date"] {
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }

  .event-type {
    margin-top: 0.75rem;
    display: flex;
    background-color: var(--input-base);
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    padding: 0.25rem;
    gap: 0.25rem;

    & .event-type-option {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1.125rem;
      gap: 0.5rem;
      flex: 1;
      border-radius: 0.25rem;

      position: relative;
      & input,
      & input:focus,
      & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
        cursor: pointer;
      }

      & img {
        width: 1rem;
        height: 1rem;
      }

      &:hover {
        background-color: var(--shape-hover);
      }

      &:has(input[id="in-person"]:checked) {
        background-color: var(--shape-button);
        color: var(--text-heading);
        & img {
          content: url(../../assets/building-checked.svg);
        }
      }

      &:has(input[id="online"]:checked) {
        background-color: var(--shape-button);
        color: var(--text-heading);
        & img {
          content: url(../../assets/video-checked.svg);
        }
      }
    }
  }
}
