.terms-wrapper {
  margin-top: 3rem;
  border-top: 1px solid var(--input-stroke);
  padding-block: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: .25rem;




  & .term-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: .75rem;
    padding-block: .25rem;

    & input {
      opacity: 0;
      position: absolute;
      inset: 0;
      cursor: pointer;
    }

    & a {
      color: var(--brand-light);
      z-index: 2;
      position: relative;
      cursor: pointer;
    }

    .checkbox-image {
      content: url(../../assets/checkbox-default.svg);
    }

    &:has(input:checked) {
      & .checkbox-image {
        content: url(../../assets/checkbox-checked.svg);
      }
    }
  }

}