@import url(./fields/index.css);

form {
  margin-top: 2.5rem;

  & fieldset {
    border: none;
    width: 100%;

    & legend {
      margin-bottom: 1.5rem;
      font: var(--heading-sm);
      display: flex;
      align-items: center;
      gap: 12px;

      & img {
        width: 1.5rem;
      }
    }

    &.event-details {
      & .event-details-inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 1rem;

        div:nth-child(1) {
          grid-column: 1/3;
        }

        div:last-child {
          grid-column: 1/3;
        }
      }
    }
  }

  & fieldset + fieldset {
    margin-top: 3rem;
  }
}
