@import url(./fields/index.css);

form {
  margin-top: 2.5rem;

  & fieldset {
    border: none;
    width: 100%;

    & legend { 
      margin-bottom: 1.5rem;
      font: var(--heading-sm);
      color: var(--text-heading);
      display: flex;
      align-items: center;
      gap: 12px;

      & img {
        width: 1.5rem;
      }
    }
  }
}

& fieldset + fieldset {
  margin-top: 3rem;
}
