* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Brand Colors */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Accent Colors */
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  /* Feedback */
  --danger: #FF5959;

  /* Input */
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* Font Families */
  --font-logo: 'Leckerli One', sans-serif;
  --font-headings: 'Baloo 2', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  /* Typography */
  --text-logo: 400 2.5rem/3.375rem var(--font-logo);
  --heading-md: 700 1.75rem/1 var(--font-headings);
  --heading-sm: 700 1.125rem/1 var(--font-headings);
  --text-md: 400 1rem/1 var(--font-body);
  --text-sm: 400 .875rem/1 var(--font-body);
  --text-xs: 400 .75rem/1 var(--font-body);
}

body {
  overflow: hidden;
  background-color: var(--shape-background);
  font: var(--text-body);
  color: var(--text-body);
  padding: 1.25rem; 
  overflow: hidden;
}

h2,
h3 {
  color: var(--text-heading);
}

img {
  max-width: 100%;
  height: auto;
}