#app {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 1.25rem;
}

aside {
  height: calc(100vh - 2.5rem);
  
  & .aside-container {
    border-radius: .75rem;
    height: 100%;
    background: url(../assets/Background.png) center/cover;
    padding: 2rem;

    & .title {

      & img {
        max-height: 3rem;
        margin-bottom: 1rem;
      }

      & h1 {
        font: var(--text-logo);
        color: var(--pink);
        margin-bottom: .25rem;
      }

      
    }
  }
}


